<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <style>
      * {
        margin: 0;
        padding: 0;
        line-height: 24px;
      }
      body {
        font-family: "Helvetica Neue";
        font-size: 18pt;
        font-weight: 300;
      }
      header {
        background-color: #0D95FC;
        color: white;
        font-weight: 100;
        margin-bottom: 24px;
      }
      h1 {
        font-weight: 100;
        line-height: 48px;
        vertical-align: baseline;
        padding: 24px 12px 24px 24px;
        display: inline-block;
      }
      dt {
        color: #0D95FC;
        width: 220px;
        float: left;
        clear: both;
        text-align: right;
        margin: 0 0 24px 0;
      }
      dl {
        padding: 0 24px 24px 24px;
      }
      dd {
        margin-left: 260px;
        margin-bottom: 24px;
      }
      ul.permitted-devices li {
        font-family: "Monaco";
        font-size: 12pt;
        list-style-type: none;
      }
    </style>
    <title>{{info.bundleDisplayName}}</title>
  </head>
  <body>
    <header>
      <h1>{{info.bundleDisplayName}}</h1>
      <span class="version">1.0.5</span>
    </header>
    <dl class="properties">
      <dt>Application Identifier</dt>
      <dd>{{profile.applicationIdentifier}}</dd>
{{#profile.applePushServiceEnvironment}}
      <dt>APNS Environment</dt>
      <dd>{{.}}</dd>
{{/profile.applePushServiceEnvironment}}
      <dt>Debugging Enabled</dt>
      <dd>{{#profile.getTaskAllow}}Yes{{/profile.getTaskAllow}}{{^profile.getTaskAllow}}No{{/profile.getTaskAllow}}</dd>
{{#profile.provisionedDevices.count}}
      <dt>Permitted Devices</dt>
      <dd>
        <ul class="permitted-devices">
        {{#profile.provisionedDevices}}
          <li>{{.}}</li>
        {{/profile.provisionedDevices}}
        </ul>
      </dd>
{{/profile.provisionedDevices.count}}
{{#profile.keychainAccessGroups.count}}
      <dt>Keychain Access Groups</dt>
      <dd>
        <ul class="keychain-access-groups">
        {{#profile.keychainAccessGroups}}
          <li>{{.}}</li>
        {{/profile.keychainAccessGroups}}
        </ul>
      </dd>
{{/profile.keychainAccessGroups.count}}
    </dl>
  </body>
</html>